body {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

#maclaren {
    width: 700px;
    height: 400px;
    margin-left: 45vh;
}

.conteiner {
    display: block;
}

button {
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: #21201e;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
}

button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}